@using Projeto_Psi.Infraestrutura
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}
<div class="panel panel-primary">
    <!--<div class="panel-heading">
        Relação de PRODUTOS registrados
    </div>-->
    <div class="panel-body">
        @Html.Partial("~/Areas/Tabelas/Views/Categorias/_PartialEditContentPanel.cshtml", Model)
    </div>
</div>
@section styles{
    <link href="@Url.Content("~/content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet">
}
@section ScriptPage{
    <script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/dataTables.bootstrap.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liHome').addClass("active");
        });
    </script>
}



